<p>This is the base module that is needed for all other modules. It includes:</p>
<ul>
	<li>Armor</li>
	<li>Weapons</li>
	<li>Tools</li>
	<li>Enchantments</li>
	<li>Basic blocks</li>
	<li>All items</li>
</ul>
