<p>This is the module that contains all of the machines. It includes:</p>
<ul>
	<li>4 simple machines (Alloy Smelter, Crafter, Sag Mill, Stirling Generator)</li>
	<li>18 normal machines (Alloy Smelter, Crafter, Dialing Device, Dimensional Transceiver, Enchanter, Farming Station, Impulse Hopper, Killer Joe, Painter, Powered Spawner, Sag Mill, Slice'n'Splice, Soul Binder, TelePad, The Vat, Wired Charger,
		Wireless Chargers)</li>
	<li>7 generators (Combustion Generator, Stirling Generator, Solar Panels, Zombie Generator)</li>
	<li>12 machine-like blocks (Buffers, Lights, Endervoir, Tanks, Travel Anchor, Vacuum Chest, XP Vacuum)</li>
	<li>6 obelisks (Attractor, Aversion, Inhibitor, Relocator, Weather, XL)</li>
	<li>8 enhanced machines (Alloy Smelter, Combustion Generator, Ender Generator, Sag Mill, Stirling Generator, The Vat, Wired Charger, Wireless Charger, Zombie Generator)</li>
</ul>
<p>Please note that this requires the base module.</p>
