{% extends 'base.twig' %}
{% block head %}
	{% if fool %}
		<!-- If this is before the switch time, force a refresh once that time is reached, plus some buffer time -->
    <meta http-equiv="refresh" content="{{ refresh_time }}">
  {% endif %}
  <link rel="stylesheet" href="css/4.css">

  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/code-new-roman" type="text/css"/>
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/minecraftia" type="text/css"/>

  <script src="js/vendor/jquery-3.3.1.min.js"></script>
  <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
{% endblock %}
{% block body %}
	<video playsinline autoplay muted loop id="bg-video">
	  <source src="images/particles.mp4" type="video/mp4">
	  <source src="images/particles.webm" type="video/webm">
	</video>

  <div class="main-container">
    <div class="main wrapper clearfix {% if fool == false %}tallmain{% endif %}">
      <div class="imgcontainer">
          <img class="bg" src="images/logo-notext.png"></img><!--
       --><img class="fg" src="images/logo-text-glow.png"></img>
      </div>
      <h1>{{ page_title }}</h1>
      <p>Minecraft 1.12.2 / 01.04.18</p>
      {% if fool == false %}
        <ul id="buttons">
          <li><button onclick="location.href='/'" type="button">Main Site</button></li>
          <li><button onclick="location.href='https://minecraft.curseforge.com/projects/ender-io'" type="button">CurseForge</button></li>
          <li><button onclick="location.href='?fool=true'" type="button">???</button></li>
        </ul>
      {% endif %}
      <ul class="changelog">
        {% if fool %}
          <li>Modular diposition</li>
          <li>Really grindy with many more machines</li>
          <li>Energy be gone! Now uses psionic powers</li>
          <li>Capacitors are no longer used for machines</li>
          <li>Capacitors now explode randomly</li>
          <li>Machines now always run away from mobs</li>
          <li>More printed books</li>
          <li>Impulse buying</li>
          <li>Wired subscription not included</li>
          <li>Enhanced constitution generated</li>
          <li>Now only in-world crafting</li>
          <li>Now has a larva germinator</li>
          <li>Improved Conduit GUI - now 2 pixels wider!</li>
          <li>Vacuum Chest now uses air filters</li>
          <li>Weird charger - charges and discharges items randomly</li>
          <li>Impulsive hopper -  Decides for itself, when it works and when not</li>
          <li>Big Item Filler - makes all your items 10% bigger</li>
          <li>Jei Ghost Handling - now mezz will take care of all your haunting issues</li>
          <li>Proper iron API - Expect 3rd-party iron ingots soon</li>
          <li>Proper dark steel API - Expect 3rd-party dark steel ingots soon</li>
          <li>Proper fertilizer API - Expect 3rd-party sh*t soon</li>
          <li>More decorated parties</li>
          <li>Use infinite frogs for early-game frogman hunting</li>
          <li>Dark steal door (steals even your pants)</li>
          <li>More foot bandages</li>
          <li>Now with ads</li>
          <li>Inventory support dropped, fully item-less now</li>
          <li>Entry-level exams</li>
          <li>Organic eyes</li>
          <li>Many more tears</li>
          <li>Much improved bowling experience with many more balls</li><?php
        {% else %}
          <li>Modular distribution</li>
          <li>Simpler early-game with "simple" machines</li>
          <li>RF be gone! Now uses µI</li>
          <li>Capacitors are no longer used to craft machines</li>
          <li>More machines take capacitors</li>
          <li>Machines now always need a capacitor to run</li>
          <li>More paintable blocks</li>
          <li>Impulse Hopper now included</li>
          <li>Wired charger</li>
          <li>Enhanced combustion generator</li>
          <li>Now with in-world crafting</li>
          <li>Now has a lava generator</li>
          <li>Improved Conduit GUI - now you can edit Input and Output at the same time!</li>
          <li>Big Item Filter - now you can filter even more items!</li>
          <li>Jei Filter Support - now can drag and drop items into filters</li>
          <li>Vacuum Chest now supports ALL filters</li>
          <li>Proper conduit API - Expect 3rd-party conduits soon</li>
          <li>Proper dark steel API - Expect 3rd-party upgrades soon</li>
          <li>Proper capacitor API - Expect 3rd-party capacitors soon</li>
          <li>Proper farming API - Expect 3rd-party farming support soon</li>
          <li>Proper fertilizer API - Expect 3rd-party fertilizers soon</li>
          <li>More decoration blocks</li>
          <li>Use infinity fog for early-game enderman hunting</li>
          <li>Dark steel door (Paintable)</li>
          <li>More loot capacitors</li>
          <li>Now with additional nuggets</li>
          <li>Full Tinkers' Construct integration</li>
          <li>IInventory support dropped, fully IItemHandler now</li>
          <li>Entry-level solar panel</li>
          <li>Organic dyes</li>
          <li>Many more gears</li>
          <li>Many more Grinding Balls</li>
        {% endif %}
      </ul>
    </div> <!-- #main -->
  </div> <!-- #main-container -->

  <footer>
    {% if fool %}
      <span class="tagline">A mod by many crazy people</span>
    {% else %}
      <span class="tagline">A mod by CrazyPants and many other people</span>
      <a href="https://github.com/SleepyTrousers/EnderIO.git">GitHub</a>
    {% endif %}
  </footer>
  <script>
    var index = -1;
    var order = [];
    var list;
    function updateChangelog() {
      if (index >= 0) {
        list.eq(order[index]).fadeOut(function() {
          list.eq(order[(index + 1) % order.length]).fadeIn();
        });
      } else {
        list.eq(order[0]).fadeIn();
      }
      index = (index + 1) % order.length;
    }
    function shuffle(a) {
      var j, x, i;
      for (i = a.length - 1; i > 0; i--) {
        j = Math.floor(Math.random() * (i + 1));
        x = a[i];
        a[i] = a[j];
        a[j] = x;
      }
    }
    $(document).ready(function() {
      list =  $( ".main .changelog li" );
      for (var i = 0; i < list.length; i++) {
        order[i] = i;
      }
      shuffle(order);

      window.setTimeout(function() {
        window.setInterval(updateChangelog, 2000);
      }, 8000);
    });
  </script>
{% endblock %}
