{% extends 'base.twig' %}
{% block head %}
	<link rel="stylesheet" href="css/index.css">
{% endblock %}
{% block body %}
	<div id="header">
		<div class="container">
			<a href="/"><div class="logo">EnderIO</div></a>
			<h1 style="text-align:center">404 Not Found</h1>
		</div>
	</div>
{% endblock %}
